export("readPCParcelaIFN2", "readPCParcela",
       "readPiesMayoresIFN2", "readPiesMenoresIFN2",
       "readPiesMayores")
export("readMatorral", "readMatorralIFN2", "readDatosMap", "readRegenera")
importFrom("foreign", "read.dbf")
importFrom("tibble", "as_tibble")
importFrom("dplyr", "bind_rows")
importFrom("utils", "read.csv")
