export("readPCParcelaIFN2", "readPCParcela", "readPiesMayoresIFN2",
       "readPiesMayoresIFN3", "readPiesMayoresIFN4", "readPiesMenoresIFN2")
export("extractRegTreeData")
export("readMatorral", "readMatorralIFN2", "readDatosMapIFN3", "readRegenera")
importFrom("foreign", "read.dbf")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("tibble", "as_tibble")
importFrom("dplyr", "bind_rows")

